sdks/python/test_lanes/customer/profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="CustomerProfile" type="CustomerProfileType"/>

    <!-- Main customer profile type -->
    <xs:complexType name="CustomerProfileType">
        <xs:all>
            <xs:element name="CustomerId" type="xs:string"/>
            <xs:element name="ProfileStatus" type="ProfileStatusEnum"/>
            <xs:element name="CreatedDate" type="xs:date"/>
            <xs:element name="LastUpdatedDate" type="xs:date" minOccurs="0"/>
            <xs:element name="Personal" type="PersonalInfoType"/>
            <xs:element name="Address" type="AddressType"/>
            <xs:element name="MailingAddress" type="AddressType" minOccurs="0"/>
            <xs:element name="Financial" type="FinancialInfoType" minOccurs="0"/>
            <xs:element name="Preferences" type="PreferencesType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Profile status enumeration -->
    <xs:simpleType name="ProfileStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="INACTIVE"/>
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="SUSPENDED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Personal information -->
    <xs:complexType name="PersonalInfoType">
        <xs:all>
            <xs:element name="Name" type="NameType"/>
            <xs:element name="SSN" type="xs:string" nillable="true"/>
            <xs:element name="DateOfBirth" type="xs:date"/>
            <xs:element name="Email" type="xs:string"/>
            <xs:element name="Phone" type="xs:string" minOccurs="0"/>
            <xs:element name="MobilePhone" type="xs:string" minOccurs="0"/>
            <xs:element name="Gender" type="GenderEnum" minOccurs="0" nillable="true"/>
            <xs:element name="MaritalStatus" type="MaritalStatusEnum" minOccurs="0" nillable="true"/>
        </xs:all>
    </xs:complexType>

    <!-- Name type -->
    <xs:complexType name="NameType">
        <xs:all>
            <xs:element name="FirstName" type="xs:string"/>
            <xs:element name="MiddleName" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="LastName" type="xs:string"/>
            <xs:element name="Suffix" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Gender enumeration -->
    <xs:simpleType name="GenderEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Marital status enumeration -->
    <xs:simpleType name="MaritalStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SINGLE"/>
            <xs:enumeration value="MARRIED"/>
            <xs:enumeration value="DIVORCED"/>
            <xs:enumeration value="WIDOWED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Address type -->
    <xs:complexType name="AddressType">
        <xs:all>
            <xs:element name="Street1" type="xs:string"/>
            <xs:element name="Street2" type="xs:string" minOccurs="0"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="State" type="xs:string"/>
            <xs:element name="ZipCode" type="xs:string"/>
            <xs:element name="Country" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Financial information -->
    <xs:complexType name="FinancialInfoType">
        <xs:all>
            <xs:element name="AnnualIncome" type="xs:decimal" minOccurs="0"/>
            <xs:element name="EmploymentStatus" type="EmploymentStatusEnum" minOccurs="0" nillable="true"/>
            <xs:element name="Employer" type="xs:string" minOccurs="0"/>
            <xs:element name="Accounts" type="AccountsType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Employment status enumeration -->
    <xs:simpleType name="EmploymentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMPLOYED"/>
            <xs:enumeration value="SELF_EMPLOYED"/>
            <xs:enumeration value="UNEMPLOYED"/>
            <xs:enumeration value="RETIRED"/>
            <xs:enumeration value="STUDENT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Accounts container -->
    <xs:complexType name="AccountsType">
        <xs:sequence>
            <xs:element name="Account" type="AccountType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Individual account -->
    <xs:complexType name="AccountType">
        <xs:all>
            <xs:element name="AccountNumber" type="xs:string"/>
            <xs:element name="AccountType" type="AccountTypeEnum"/>
            <xs:element name="Balance" type="xs:decimal"/>
            <xs:element name="OpenedDate" type="xs:date" minOccurs="0"/>
            <xs:element name="Status" type="AccountStatusEnum" minOccurs="0" nillable="true"/>
        </xs:all>
    </xs:complexType>

    <!-- Account type enumeration -->
    <xs:simpleType name="AccountTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHECKING"/>
            <xs:enumeration value="SAVINGS"/>
            <xs:enumeration value="MONEY_MARKET"/>
            <xs:enumeration value="CD"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Account status enumeration -->
    <xs:simpleType name="AccountStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="CLOSED"/>
            <xs:enumeration value="DORMANT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Customer preferences -->
    <xs:complexType name="PreferencesType">
        <xs:all>
            <xs:element name="ContactMethod" type="ContactMethodEnum" minOccurs="0" nillable="true"/>
            <xs:element name="StatementDelivery" type="DeliveryMethodEnum" minOccurs="0" nillable="true"/>
            <xs:element name="MarketingOptIn" type="xs:boolean" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Contact method enumeration -->
    <xs:simpleType name="ContactMethodEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAIL"/>
            <xs:enumeration value="PHONE"/>
            <xs:enumeration value="SMS"/>
            <xs:enumeration value="MAIL"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Delivery method enumeration -->
    <xs:simpleType name="DeliveryMethodEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELECTRONIC"/>
            <xs:enumeration value="PAPER"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
